<dl>
	<dt>Nom</dt><dd><?=$autor->getNom()?></dd>
	<dt>Cognom</dt><dd><?=$autor->getCognom()?></dd>
	<dd><a href="/frases/addfrase.phtml?autor=<?=$autor->getAid()?>">Añadir frase</a></dd>
</dl>
<hr/>
<dl>
	<?php foreach($frases as $frase){ ?>
	<dt><?=$frase->getAutor()?></dt>
	<dd><?=$frase->getFrase()?></dd>
	<dd><a href="/frases/details.phtml?frases=<?=$frase->getIdfrases()?>">Detalles</a></dd>
	<dd><a href="/frases/modifyfrases.phtml?frases=<?=$frase->getIdfrases()?>">Editar</a></dd>
	<dd><a href="/frases/deletefrase.phtml?frases=<?=$frase->getIdfrases()?>">Eliminar</a></dd>
	<?php } ?>
	</dl>
<a href="/index.phtml">Back to index</a>
