<html>
	<head><title>Autor list</title></head>
	<body>
		<div id="wrapper">
			<h1>Add new autor</h1>
			<form action="/forms/add.phtml" method="post">
				<dl>
					<dt><label for="anom">Nom</label></dt>
					<dd><input type="text" name="anom" id="anom"></dd>
					<dt><label for="acognom">Cognom</label></dt>
					<dd><input type="text" name="acognom" id="acognom"></dd>
					<dd><input type="submit" name="submit" value="Add"></dd>
				</dl>
			</form>
		</div>
		<a href="/index.phtml">Back to index</a>
	</body>
</html>
