<?php

require_once(__DIR__.'/../../controller/AutorController.php');
require_once(__DIR__.'/../../controller/FrasesController.php');

$nom = $_POST['anom'];
$cognom = $_POST['acognom'];

$cnt = new AutorController();

$autor = $cnt->createAutor($nom, $cognom);
$frases = null;
?><html>
	<head><title>Detalles Autor</title></head>
	<body>
		<div id="wrapper">
			<h1><?=$autor->getNom()?> creado</h1>
			<?php include(__DIR__.'/../../inc/d.phtml'); ?>
		</div>
	</body>
</html>
