<?php

require_once(__DIR__.'/../../controller/AutorController.php');
require_once(__DIR__.'/../../controller/FrasesController.php');

$frase = $_POST['sfrase'];
$autorid = $_POST['aid'];

$cnt2 = new FrasesController();
$cnt2->createFrases($frase, $autorid);

$cnt = new AutorController();
$autor = $cnt->getAutor($autorid);

$frases = $cnt2->getFrasesByAutor($autorid);

?><html>
	<head><title>Detalles Autor</title></head>
	<body>
		<div id="wrapper">
			<h1>Nueva frase añadida a <?=$autor->getNom()?></h1>
			<?php include(__DIR__.'/../../inc/d.phtml'); ?>
		</div>
	</body>
</html>
