<dl>
	<dt><dt>Frase: </dt><?=$frases->getFrase($frases)?></dt>
</dl>
<dt>De l'autor: </dt>
<dl>
	<dt>Nom</dt><dd><?=$autor->getNom()?></dd>
	<dt>Cognom</dt><dd><?=$autor->getCognom()?></dd>
</dl>
<a href="/index.phtml">Back to index</a>
