<?php

require_once(__DIR__.'/../controller/AutorController.php');
require_once(__DIR__.'/../controller/FrasesController.php');

$aid = $_GET['a'];

$cnt2 = new FrasesController();
$frases = $cnt2->getFrasesByAutor($aid);
$cnt = new AutorController();
$autor = $cnt->deleteAutor($aid);

?><html>
	<head><title>Deleted autor</title></head>
	<body>
		<div id="wrapper">
			<h1><?=$autor->getNom()?> deleted</h1>
			<?php include(__DIR__.'/../inc/d.phtml'); ?>
		</div>
	</body>
</html>
