<?php

require_once(__DIR__.'/../controller/AutorController.php');
require_once(__DIR__.'/../model/Usuario.php');

$model = new Usuario();
$cnt = new AutorController();
$list = $cnt->getAutors();


 session_start();

?><html>
	<head><title>Lista de Autores</title></head>
	<body>
		<div id="wrapper">
			<div id="formlogin">
			<?php if($model->isLoggedIn()){
			    //mostrar nombre de usuario
			    include(__DIR__.'/../inc/users/loggedin.phtml');
			}else{
			    //formulario
          $_SESSION['rol']=" ";
			    include(__DIR__.'/../inc/users/notloggedin.phtml');

      }

			?>
			</div>
			<h1>Lista de Autores</h1>

			<?php if($_SESSION['rol']=="admin"){?>
			<a href="/add.phtml">Añadir autor</a>
		<?php } ?>

			<section id="autorlist">
				<?php foreach($list as $autor){ ?>
				<article class="autordesc">
					<span><?=$autor->getNom()?></span>
					<span><?=$autor->getCognom()?></span>

					<span><a href="/details.phtml?a=<?=$autor->getAid()?>">Detalles</a></span>

					<?php if($_SESSION['rol']=="admin"){?>
					<span><a href="/delete.phtml?a=<?=$autor->getAid()?>">Eliminar</a></span>
				<?php } ?>

				</article>
				<?php } ?>
			</section>
		</div>
	</body>
</html>
