<?php

require_once(__DIR__.'/../../controller/FrasesController.php');

$idfrases = $_GET['frases'];


$cnt2 = new FrasesController();
$frases = $cnt2->getFrasesById($idfrases);

?><html>
	<head><title>Update frase</title></head>
	<body>
		<div id="wrapper">
			<h1>Editar frase</h1>
			<form action="/forms/modifyFrases.phtml" method="post">
				<dl>
					<dt><label for="aid">ID Autor</label></dt>
					<dd><input type="text" name="aid" id="aid" value="<?=$frases->getAutor()?>"></dd>
					<dt><label for="frase">Frase</label></dt>
					<dd><input type="text" name="frase" id="frase" value="<?=$frases->getFrase()?>"></dd>
					<dd>
						<input type="hidden" name="frasesid" value="<?=$idfrases?>">
						<input type="submit" name="submit" value="Update frase">
					</dd>
				</dl>
			</form>
		</div>
	</body>
</html>
