<?php

require_once(__DIR__.'/../controller/AutorController.php');
require_once(__DIR__.'/../model/Usuario.php');

$model = new Usuario();
$cnt = new AutorController();
$list = $cnt->getAutors();

session_start();

?><html>
	<head>
		<title>Lista de Autores</title>
  	<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="/js/script.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				$("#hp-autorB").click(function() {
						loadAutor();
				});
			});
		</script>
	</head>

	<body>

		<div id="wrapper">

			<div id="formlogin">
			<?php if($model->isLoggedIn()){
			    //mostrar nombre de usuario
			    include(__DIR__.'/../inc/users/loggedin.phtml');
			}else{
			    //formulario
          $_SESSION['rol']=" ";
			    include(__DIR__.'/../inc/users/notloggedin.phtml');
      }?>
			</div>

			<h1>Lista de Autores</h1>

			<div id="login-form">
				<label for="un">Buscar Autor</label>
        		<input type="text" id="hp-autor"/>
        		<button id="hp-autorB">buscar</button>
			</div>
			<section id="hp-fraseautor"></section>

		</br>

			 <?php if($_SESSION['rol']=="admin"){?>
			 <a href="/add.phtml">Añadir autor</a>
		   <?php } ?>

			<section id="autorlist">
				<?php foreach($list as $autor){ ?>
				<article class="autordesc">
					<span><?=$autor->getNom()?></span>
					<span><?=$autor->getCognom()?></span>

					<span><a href="/details.phtml?a=<?=$autor->getAid()?>">Detalles</a></span>

					<?php if($_SESSION['rol']=="admin"){?>
					<span><a href="/delete.phtml?a=<?=$autor->getAid()?>">Eliminar</a></span>
				<?php } ?>

				</article>
				<?php } ?>
			</section>
		</div>
	</body>
</html>
