<?php

require_once(__DIR__.'/../../controller/AutorController.php');

$aid = $_GET['autor'];

$cnt = new AutorController();
$autor = $cnt->getAutor($aid);

?><html>
	<head><title>Añadir frase</title></head>
	<body>
		<div id="wrapper">
			<h1>Añadir nueva frase a <?=$autor->getNom()?></h1>
			<form action="/forms/addFrases.phtml" method="post">
				<dl>
					<dt><label for="sfrase">Frase</label></dt>
					<dd><input type="text" name="sfrase" id="sfrase"></dd>
					<dd>
						<input type="hidden" name="aid" value="<?=$autor->getAid()?>"/>
						<input type="submit" name="submit" value="Add frase">
					</dd>
				</dl>
			</form>
		</div>
	</body>
</html>
