<?php

require_once(__DIR__.'/../../controller/FrasesController.php');
require_once(__DIR__.'/../../controller/AutorController.php');

$idfrases = $_GET['frases'];

$cnt = new AutorController();
$cnt2 = new FrasesController();
$frases = $cnt2->deleteFrases($idfrases);
$aid = $frases->getAutor();
$autor = $cnt->getAutor($aid);

?><html>
	<head><title>Deleted frase</title></head>
	<body>
		<div id="wrapper">
			<h1><?=$frases->getFrase()?> eliminada</h1>
			<?php include(__DIR__.'/../../inc/dfrases.phtml'); ?>
		</div>
	</body>
</html>
