<?php

require_once(__DIR__.'/../controller/FootballController.php');

$aid = $_GET['a'];

$cnt2 = new FootballController();
$frases = $cnt2->getName($aid);


?><html>
	<head><title>Deleted Football</title></head>
	<body>
		<div id="wrapper">
			<h1><?=$fotbal->getName()?> deleted</h1>
			<?php include(__DIR__.'/../inc/d.phtml'); ?>
		</div>
	</body>
</html>
