<?php

//require_once(__DIR__.'/../vendor/autoload.php');
require_once(__DIR__.'/../controller/FootballController.php');

$cnt = new FootballController();
$teams = $cnt->getTeams();

?><html>
	<head>
		<title>Football Teams</title>
	</head>
	<body>
		<div id="wrapper">
			<h1>Team list</h1>
			<a href="/add.phtml"> Add Team </a>
			<section id="fotballist">
			<dl>
				<?php foreach($teams as $t){ ?>
				<article class="football">
				<span><dt><?=$t->getName()?></dt></span>
				<span><dt><?=$t->getFounded()?></dt></span>
				<span><a href="/delete.phtml?f=<?=$t->getName()?>"> Delete Team </a></span>
				<span><a href="/details.phtml?f=<?=$t->getName()?>">Details Team </a></span>
				<span><a href="/modify.phtml?f=<?=$t->getName()?>"> Modify Team </a></span>
			</article>
				<?php } ?>
			</section>
			</dl>
		</div>
	</body>
</html>
